@font-face {
    font-family: dookie;
    src: url('LeckerliOne-Regular.ttf');
}

@font-face {
    font-family: dookie1;
    src: url('RobotoCondensed-Light.ttf');

}

body {
    background-color: #a9a9a9;
    width: 85%;
    margin: 0 auto;
}

.header {
    text-align: center;
    text-shadow:5px 5px 10px black;
    font-size: 120%;
    font-family: dookie;
    color:white;
}


.nav{
    background-color: #fe80fe;
    height: 50px;
    padding-top: 3px;

}
.search {
    display: inline;
    padding-left: 10%;
}
.bar {
    display: inline;
    font-family: dookie1;
    padding-left: 11%;
    text-transform: uppercase;
}
.main {
    width: 100%;
    overflow: auto;
}
.article_left {
    background-color: white;
    float: left;
    width: 80%;
    padding-left: 10px;
    height: 600px;
}
.related_right {
    font-size: 20px;
    background-color: #fe80fe;
    float: right;
    width: 18.6%;
    height: 600px;
}
   
.links {
    color: blue;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: blue;
    line-height: 1.8;
}

h2 {
    font-family: dookie;
}

h3 {
    font-family: dookie;
}

.footer{
    background-color: white;
    padding: 25px;
    color: grey;
}